h1 How Interest Rates Affect You
hr
h3 How interest rate changes will affect your homebuying power and how much you pay over the life of your mortgage.
p You're probably aware that the Fed announced plans to start increasing the national interest rate (also called the 'Fed Rate') in 2016. Sadly, the era of historically low interest rates will be coming to an end.
p Interest rates have a much greater effect on Oahu home owners because of our unique situation. Low inventory, plus high demand, creates high levels of competition and that pushes our home prices higher. The interest rate you pay drastically affects what you can afford. To clear up some misconceptions and assist in your home search, let's see exactly how these increases may or may not affect you.
h3 Interest Rates have not Affected Home Prices
iframe(width='560' height='315' src='https://www.youtube.com/embed/qhRp3JIJDIY' frameborder='0' allowfullscreen)
p A common misconception among many home buyers in Hawaii is low interest creates higher prices. With the interest rate at historic lows, the number of buyers who qualify are at an all-time high. So as interest rates increase, the number of buyers should decrease, thereby decreasing overall competition and therefore prices, right? Well...
p In most real estate markets this is true.  However, on Oahu, demand is so high and our inventory of available housing so low that interest rate increases will not affect overall home prices. It may, for example, decrease the number of buyers competing for a property from 5 down to 3, but it won't bring down prices.
p Looking at median prices and interest rates since 1977, interest rates have had no effect on Oahu home prices. During the three previous "price runs" on Oahu in the last 35 years, (a price run is when properties appreciate at 15-20% or more per year) interest rates were anywhere between 8% and 16%. Regardless of how high or low rates got, it didn’t influence overall median prices.
p Current rates could potentially double and still not affect home prices on Oahu. Don't wait for the interest rate to go up thinking prices will go down.  If history taught us anything it's that median prices will continue to increase.
h3 Your Monthly Payments will Increase
iframe(width='560' height='315' src='https://www.youtube.com/embed/3OopdEBJeRw' frameborder='0' allowfullscreen)
p This is where interest rates affect you the most. The higher the interest rate on your home loan, the higher your monthly payment will be. Even small increases by the Fed will greatly affect how much you can borrow, as your loan qualification amount is based on the monthly payment you in comparison to your current debt expenses. A good rule of thumb is for every 1 point interest rates increase (from 4.5% to 5.5% for example), loan payments increase over 10%.
h3 Your Buying Power will Decrease
iframe(width='560' height='315' src='https://www.youtube.com/embed/JIkqYR0ZaQc' frameborder='0' allowfullscreen)
p It's uncertain exactly how much the interest rate is going to increase and when, but the Fed has made it clear that it's on the way up. If you are planning on owning a home, or have been playing with the idea, your best move would be to take advantage of these historically low interest rates before they're gone.
p First time homeowners will feel the effects of higher interest the most.  Many young individuals and families don't yet have the income level or savings to afford even a slight increase in monthly payments.  As interest rates increase, the price of the home you can qualify for decreases.
p Now that the era of historically low interest rates is coming to an end, the window of opportunity to take advantage of them is quickly closing.  Once rates go up, they will not come back down. This is one of the best times in Oahu history to get a home loan.  Don't hesitate and end up paying for it later.
p Contact us today for a free, 1-on-1 consultation with one of our experienced Realtors who specializes in military relocation.
hr
a.btn-main(href='#open-modal' style='color:#fff; padding: 10px 20px; margin-top: 15px;') Get a Quote
