h1 Choosing a Neighborhood
h3 What neighborhood is best for you? Depends on where you're stationed.
img(src='/images/hawaii-military-bases.jpg')
h3 Map of Military Bases On Oahu
p To aid in your property search we have created the map below which highlights the 8 major military installations on Oahu that you might be stationed or work at: Camp Smith, Fort Shafter, Hickam AFB, Kaneohe Bay MC Base, Pearl Harbor Naval Complex, Schofield Barracks, and Tripler Army Medical Center.
p Below the map we have included an easy reference guide which includes information about specific neighborhoods that are near each military base, and the approximate distance from the base to the specific neighborhood. We hope this feature helps you to familiarize yourself with the island as a whole, as well as narrow down your property search to the areas that will fit your needs best.
iframe(width='628' height='500' src='https://www.google.com/maps/d/embed?mid=1N9D4nVysOugvEjP8CJkc2_uH_78')
h3 Do you have questions about any of these neighborhoods?
.realtor-call-to-action
  a.btn-main.btn-marquee(href='/#open-modal-contact') We can help you!
