#modal.modal(style='display: none')
	form
		input(placeholder='Your Name')
		input(placeholder='Email Address')
		input(placeholder='Phone Number')

#open-modal.modal-dialog
	.modal-content
		header.modal-header.ct
			a.modal-close(data-dismiss='modal', aria-hidden='true', href='#')
				span.hidden Close
			br
			br
			h4.modal-title.ct Get a quote
			p Enter your information below to get a free quote sent to you
		.modal-body.ct
			form#subForm(action='http://locationshawaii.createsend.com/t/d/s/pdrtll/', method='POST')
				input#fieldName(name='cm-name', type='text', placeholder='Your Name', required)
				input#fieldEmail(name='cm-pdrtll-pdrtll', type='email', placeholder='Email Address', required)
				input#fieldPhone(name='cm-f-uusuj', type='text', placeholder='Phone Number', required)
				button.button-add.button-blue.wide(type='submit') Submit
				p No spam. Unsubscribe any time.
