- var ns = home.ns
#marquee-wrapper.marquee-wrapper

  #marquee.marquee(style='background: url(/images/0.jpg); background-size: cover; background-position: center top;')
    .carousel.page-width

      .carousel-item
        .carousel-text
          h2 Available 24/7 to Better Serve Troops Overseas.
          h3 Serving Military Hawaii
          h4 Call #[a.italic-phone(href='tel:+1#{phone}')= prettifyPhone(phone)] or request information below:
          a.btn-main.btn-marquee(href='#open-modal') Get a Quote
            i.fa.fa-arrow-right
        .carousel-overlay-img
          img(src='/images/product-6.png')


  #marquee-spacer.marquee-spacer

  #marquee-nav.marquee-nav
    .page-narrow
      ul.marquee-nav-ul
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p VA Homes
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p VA Loans
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Local Resource
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Military Housing
        li
          a(href='#')
            i.fa.fa-chevron-circle-up
            p Free Guide
