mixin footerlg()
  #footer.footerlg

    .list-of-lists.container
      .footer-list
        h4 About Us
        ul
          li: a(href='#') Office Locations
          li: a(href='#') Locations Foundation
          li: a(href='#') Press Releases
          li: a(href='#') Careers
          li: a(href='#') Leadership
          li: a(href='#') Agent Directory

      .footer-list
        h4 Services
        ul
          li: a(href='#') Home Owner Seminars
          li: a(href='#') Market Reports and Analysis
          li: a(href='#') Transaction Management
          li: a(href='#') Property Management

      .footer-list
        h4 Connect with #{company}
        ul
          li: a.soc(href='#') #[i.icon-facebook] Facebook
          li: a.soc(href='#') #[i.icon-linkedin-with-circle] LinkedIn
          li: a.soc(href='#') #[i.icon-twitter-with-circle] Twitter
          li: a.soc(href='#') #[i.icon-google3] Google+
          li: a.soc(href='#') #[i.icon-youtube] YouTube

      .footer-list
        h4 Tools
        ul
          li: a(href='#') What’s Your Home Worth?
          li: a(href='#') Mortgage Calculator
          li: a(href='#') Rent Accumulation
          li: a(href='#') Calculator
          li: a(href='#') Learn
          li: a(href='#') Mobile App

  include ../includes/_copy
  include ../includes/_modal
  include ../includes/_modal-contact

